.discount-container {
	font-size: 1.5rem;
    max-width: 750px;
    margin: 100px auto;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.discount-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.discount-container label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.discount-container select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.discount-container p {
	font-size: 1.5rem;
    margin: 8px 0;
}

.discount-container input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.discount-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #007bff;
}
.back-link:hover {
    text-decoration: underline;
}

.level-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
